In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
data = pd.read_csv('Amazon.csv')
data = data[0:1000]
data.shape

(1000, 13)

In [25]:
data.head(5)

,Unnamed: 0,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,helpScore,helpful
0,138806,138807,B000E63LME,A1CQGW1AOD0LF2,"Alena K. ""Alena""",1,2,2,1294185600,Not as pictured.,I was looking forward to try cranberry apple f...,0.5,False
1,469680,469681,B004ZIH4KM,A37S7U1OX2MCWI,Becky Cole,0,0,5,1349740800,seeds,"TY for everything. The seeds arrived quickly,...",NaN,False
2,238202,238203,B003ZXE9QA,A2OM6G73E64EQ9,jeff,0,0,5,1329264000,I'm addicted!,I've finally found the best cereal in the worl...,NaN,False
3,485307,485308,B001RVFERK,A25W349EE97NBK,Tangent4,1,1,4,1248307200,I wanted to love these...,I originally bought these chips because I'd he...,1.0,False
4,375283,375284,B000OQZNTS,A3CPPW0HUC07YS,Amy Nicolai,0,0,5,1333238400,Excellent chamomile tea,"Really excellent tea, flowers are visible in t...",NaN,False

In [26]:
#define Y - which column in data has label of result
y = data.iloc[:, 12].values

In [27]:
#bag of words on text
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer()

type(data.Text)
textArray = data.Text.as_matrix()
type(textArray)
features = count.fit_transform(textArray)
xText = features.toarray()
xText.shape

(1000, 6831)

In [28]:
#bag of words on summary
#creating newSummary with "no summary given" where summary does not exist.
data['newSummary'] = np.where(pd.isnull(data['Summary']) == True, 'no summary given', data['Summary'])

type(data.newSummary)
summaryArray = data.newSummary.as_matrix()
type(summaryArray)
features = count.fit_transform(summaryArray)
xSummary = features.toarray()
xSummary.shape

(1000, 1310)

In [ ]:
# NOT WORKING

# check frequency of user name occurance

# data['freq'] = data.groupby('ProfileName')['ProfileName'].transform('count')

# type(data.freq)
# freqArray = data.freq.as_matrix()
# type(freqArray)
# features = count.fit_transform(freqArray)
# xFreq = features.toarray()
# xFreq.shape

In [41]:
#  does summary have exclamation point
data['hasEP'] = data['Text'].str.contains('!')

#  does summary have colon
data['hasColon'] = data['Text'].str.contains(':')

#  does summary have semicolon
data['hasSemi'] = data['Text'].str.contains(';')

# length of review
data['textLen'] = data['Text'].str.len()

# length of summary
data['summaryLen'] = data['Summary'].str.len()

# number of reviews per user
data['numReview'] = data.groupby('UserId')['UserId'].transform('count')

In [46]:
xHasEP = data.hasEP.values.reshape(data.shape[0], 1)
xHasColon = data.hasColon.values.reshape(data.shape[0], 1)
xHasSemi = data.hasSemi.values.reshape(data.shape[0], 1)
xTextLen = data.textLen.values.reshape(data.shape[0], 1)
xSummaryLen = data.summaryLen.values.reshape(data.shape[0], 1)
xNumReview = data.numReview.values.reshape(data.shape[0], 1)
# xScore = data.Score.values.reshape(data.shape[0],1)

X = np.concatenate((xText,
                    xSummary,
                    xHasEP,
                    xHasColon,
                    xHasSemi,
                    xTextLen,
                    xSummaryLen,
                    xNumReview), axis=1)

print(X);

[[   0.    0.    0. ...,  206.   16.    1.]
 [   0.    0.    0. ...,  125.    5.    1.]
 [   0.    0.    0. ...,  678.   13.    1.]
 ...,
 [   0.    0.    0. ...,  364.   24.    1.]
 [   0.    0.    0. ...,  307.    7.    1.]
 [   0.    0.    0. ...,  259.   39.    1.]]

In [47]:
data.head()

,Unnamed: 0,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,helpScore,helpful,newSummary,hasEP,hasColon,hasSemi,textLen,summaryLen,numReview
0,138806,138807,B000E63LME,A1CQGW1AOD0LF2,"Alena K. ""Alena""",1,2,2,1294185600,Not as pictured.,I was looking forward to try cranberry apple f...,0.5,False,Not as pictured.,False,False,False,206,16,1
1,469680,469681,B004ZIH4KM,A37S7U1OX2MCWI,Becky Cole,0,0,5,1349740800,seeds,"TY for everything. The seeds arrived quickly,...",NaN,False,seeds,False,False,False,125,5,1
2,238202,238203,B003ZXE9QA,A2OM6G73E64EQ9,jeff,0,0,5,1329264000,I'm addicted!,I've finally found the best cereal in the worl...,NaN,False,I'm addicted!,True,False,True,678,13,1
3,485307,485308,B001RVFERK,A25W349EE97NBK,Tangent4,1,1,4,1248307200,I wanted to love these...,I originally bought these chips because I'd he...,1.0,False,I wanted to love these...,True,True,False,1101,25,1
4,375283,375284,B000OQZNTS,A3CPPW0HUC07YS,Amy Nicolai,0,0,5,1333238400,Excellent chamomile tea,"Really excellent tea, flowers are visible in t...",NaN,False,Excellent chamomile tea,True,False,False,201,23,1

In [48]:
# create training and test sets
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
         X, y, test_size=0.3, random_state=0)

In [45]:
# not working - data conversion problem ?

# scaling features

from sklearn.preprocessing import StandardScaler
sc = StandardScaler(with_mean=False)
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [36]:
def print_results():
    print('Error rate on training set: ')
    print((y_train != y_pred).sum() / X_train.shape[0])
    print('Accuracy rate on training set: ')
    print(1 - (y_train != y_pred).sum() / X_train.shape[0])
    print('True positive rate on training set:')
    print(((y_train==True) & (y_pred==True)).sum() / y_train.sum())
    print('**************')
    print('Error rate on test set: ')
    print((y_test != y_pred_test).sum() / X_test.shape[0])
    print('Accuracy rate on test set: ')
    print(1 - (y_test != y_pred_test).sum() / X_test.shape[0])
    print('True positive rate on test set')
    print(((y_test==True) & (y_pred_test==True)).sum() / y_test.sum())
    print('True negative rate on test set')
    print(((y_test==False) & (y_pred_test==False)).sum() / (y_test.shape[0] - y_test.sum()))
    print('Precision:')
    print((y_test == y_pred_test).sum() / ((y_test == y_pred_test) + (y_test != y_pred_test)).sum())

In [37]:
# linear regression

from sklearn import linear_model
clf = linear_model.SGDClassifier()
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.0
Accuracy rate on training set:
1.0
True positive rate on training set:
1.0
**************
Error rate on test set:
0.11
Accuracy rate on test set:
0.89
True positive rate on test set
0.0769230769231
True negative rate on test set
0.926829268293
Precision:
0.89

In [38]:
# logistic regression

from sklearn import linear_model
clf = linear_model.SGDClassifier(loss='log', n_iter=50, alpha=0.00001)
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.0
Accuracy rate on training set:
1.0
True positive rate on training set:
1.0
**************
Error rate on test set:
0.0933333333333
Accuracy rate on test set:
0.906666666667
True positive rate on test set
0.0
True negative rate on test set
0.947735191638
Precision:
0.906666666667

In [39]:
# naive bayes

from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.00142857142857
Accuracy rate on training set:
0.998571428571
True positive rate on training set:
1.0
**************
Error rate on test set:
0.0966666666667
Accuracy rate on test set:
0.903333333333
True positive rate on test set
0.0
True negative rate on test set
0.94425087108
Precision:
0.903333333333

In [40]:
# perceptron

from sklearn import linear_model
clf = linear_model.SGDClassifier(loss='perceptron')
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.0
Accuracy rate on training set:
1.0
True positive rate on training set:
1.0
**************
Error rate on test set:
0.103333333333
Accuracy rate on test set:
0.896666666667
True positive rate on test set
0.0769230769231
True negative rate on test set
0.933797909408
Precision:
0.896666666667